.container {
	width: 80%;
	margin: 10% auto;
}

.pane-container {
	display: inline-block;
	button {
		margin: 0px 5px 0;
	}
}

.pane-container:hover .dropdown-pane {
	visibility: visible;
}

.overlay {
	position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1005;
    display: block;
    background-color: rgba(10, 10, 10, 0.45);
    overflow-y: scroll;
}


.nagel {
	background-color: #006cb7;
}
.completed {
	background-color: #CCFF90 !important;
}

select {
	background-image: none;
}

.accordion-title {
	margin-bottom: 0;
	font-size: 0.95rem;
}

.checkbox {
	text-align: center;
	label {
		margin-top: 10px;
	}
}

.button-container {
	display: flex;
	justify-content: center;
	align-items: center;
	button {
		margin: 4px 5px;
	}
}

.truck-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.delete {
	h5 {
		text-align: center;
		margin-top: 18px;
	}
	.delete-button-container {
		display: flex;
		width: 80%;
		margin: 30px auto;
		justify-content: center;
		button {
			margin: 10px 20px;
			padding: 1em 2em;
		}
	}
}


.form-container {
	visibility: hidden;
	-webkit-transition: all 0.3s ease-in;
	-moz-transition: all 0.3s ease-in;
	-ms-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
	transition: all 0.3s ease-in;

}
.show {
	visibility: visible;
}

.empty-list {
	position: relative;
	left: 35%;
	font-size: 25px;
}

.counter-container {
	ul {
		list-style: none;
		li {
			display: flex;
			font-size: 20px;
			align-items: center;
			.result-container {
				margin-left: 10px;
				font-size: 20px;
			}
		}
	}
}


.checkboxFour {
	input[type=checkbox] {
	visibility: hidden;
	}
	width: 40px;
	height: 40px;
	background: #ddd;
	margin: 20px 20px;

	border-radius: 100%;
	position: relative;
	box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
}

.checkboxFour label {
	display: block;
	width: 30px;
	height: 30px;
	border-radius: 100px;

	transition: all .5s ease;
	cursor: pointer;
	position: absolute;
	top: 5px;
	left: -3px;
	z-index: 1;

	background: #333;
	box-shadow:inset 0px 1px 3px rgba(0,0,0,0.5);
}

.checkboxFour input[type=checkbox]:checked + label {
	background: #26ca28;
}
